@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[2rem] md:text-[3.2rem];
  }

  h2 {
    @apply text-2xl sm:text-3xl md:text-5xl;
  }

  h3 {
    @apply text-xl md:text-2xl;
  }

  h4 {
    @apply text-base md:text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-sm;
  }

  p {
    @apply text-sm sm:text-base;
  }
}

.cus-container {
  @apply container mx-auto px-8;
}

.trans {
  @apply transition-all duration-500;
}

.gradient-btn {
  @apply bg-gradient-to-r from-indigo-500 to-fuchsia-500 text-white font-bold;
}

.banner {
  @apply overflow-hidden bg-cover bg-[url(/images/bg-g1.webp)];
  background-position: top center;
}

.banner-shape{
  @apply relative w-full h-full
}

.banner-shape::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  background: url(/images/banner-bg-shape-1.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 145px;
  z-index: 20;
}

.newsletter {
  @apply relative z-[1];
}

.newsletter::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  background: url('/images/dots.png') repeat center / auto;
  top: 0;
  z-index: 5;
}

.heighlight {
  position: relative;
  z-index: 5;
}

.heighlight::after {
  position: absolute;
  top: 50%;
  right: -19px;
  left: -19px;
  transform: translateY(-50%);
  height: 45px;
  width: -moz-calc(100% + 38px);
  width: calc(100% + 38px);
  background: rgb(255, 255, 255);
  z-index: -1;
  content: '';
  clip-path: polygon(100% 0, 97% 50%, 100% 100%, 0 100%, 3% 50%, 0 0);
}

.category-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 50px 40px;
  box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
}

.active-tab {
  @apply relative;
}

.active-tab::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -4px;
  left: 12px;
  height: 7px;
  width: 0%;
  @apply bg-indigo-500 rounded-lg trans;
}

.active-tab.clicked::after {
  width: 70%;
}

.swiper-slide {
  height: auto !important;
}
